@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,500&family=Open+Sans:wght@400;600&display=swap');

* {
  margin: 0;
}

:root {
  --element-color-primary: #EB5440;
  --element-color-secondary: #4A4B4C;
  --element-color-tertiary: #E8E8E8;
  --element-color-quartenary: #C3C3C3; 

  --background-color-1: #F6F6F6;
  --background-color-2: #FFF;

  --text-color-primary: #000;
  --text-color-secondary: #4A4B4C;
  --text-color-hyperlink: #067BC2;

  --font-h1-desktop: 32px bold 'Montserrat', sans-serif;
  --font-h1-mobile: 18px, bold 'Montserrat', sans-serif;
  --font-h2-desktop: 22px bold 'Montserrat', sans-serif;
  --font-h2-mobile: 14px bold 'Montserrat', sans-serif;

  --border-radius-s: 6px;
  --border-radius-m: 8px;
  --border-radius-l: 25px;
}
body {
  background-color: var(--background-color-1);
  min-height: 100vh;
}
header {
  text-align: center;
  position: relative;
}
main {
  max-width: 1100px;
  margin: 0 auto;
  padding-inline: 1rem;
}
h1 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Open sans', sans-serif;
  font-size: 12px;
}
a {
  text-decoration: none;
  color: inherit;           /* Apply custom styles to links */
}
button {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}
label {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 1rem 0 .5rem;
  z-index: 1;
}
:focus {
  outline-color: var(--element-color-primary);
}
:disabled {
  opacity: .5;
}
.errorMessage {
  color: red;
  font-family: 'Montserrat';
  font-size: 14px;
  margin-top: .5rem;
  font-style: italic;
}
.error {
  border:  1px solid red !important; 
}
.input-wrapper:invalid::after {
  content: 'Required field missing';
  font-size: 14px;
  font-family: 'Montserrat';
  color: red;
}
@media (min-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }
  input {
    font-size: 14px;
  }
  ::placeholder {
    font-size: 14px;
  }
}